.slider
  &__container
    position: relative
    display: flex
    align-items: center
    width: 450px
    height: 150px
    margin: 20px

  &__button
    position: absolute
    padding: 0px 4px
    font-size: 1.4rem
    z-index: 10

    &--next
      right: 0
  
  &__window
    width: 100%
    height: 100%
    overflow: hidden
  
  &__items
    display: flex
    flex-direction: row
    height: 100%
    transition: transform .3s ease-in-out
  
.item
  display: flex
  justify-content: center
  align-items: center
  min-width: 100%
  max-width: 100%
  user-select: none

  &__1
    background: red
  &__2
    background: orange
  &__3
    background: cyan
